#wrapper div {
    margin:10px;
    padding: 10px;
}

#wrapper {
    width: 300px;
    background-color: #ccc;
    padding: 5px;
}

#wrapper .explenation {
    margin: 0;
    padding: 15px;
    color: #333;
}

#first {
    background-color: chocolate;
    padding: 20px;
}

#second {
    background-color: darkgoldenrod;
    padding: 20px;
    width: 100%;
}